.app-tool-panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    padding-bottom: 20px;

    .card {
        position: fixed;
        max-width: 220px;
        z-index: 1;
    }
}
