.app-color-picker .sketch-picker {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;

    :nth-child(4n) {
        max-height: 42px !important;
        padding-bottom: 0 !important;
    }
}
