.app-color-picker {
    .icon.app-color-picker-icon {
        margin-left: 0 !important;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
    }

    .sketch-picker {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;

        :nth-child(4n) {
            max-height: 42px !important;
            padding-bottom: 0 !important;
        }
    }
}
