.app-color-picker {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    padding-bottom: 20px;

    .card {
        position: fixed;
        max-width: 220px;
        z-index: 1;
    }

    .sketch-picker {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;

        :nth-child(4n) {
            max-height: 42px !important;
            padding-bottom: 0 !important;
        }
    }
}
