.app-panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 10px 10px 20px;

    .card {
        position: fixed;
        z-index: 1;
    }

    .app-panel-collapsed-card-content {
        height: 0;
        padding: 0;
        overflow: hidden;
    }

    .app-panel-icon {
        margin-left: 10px;
        vertical-align: middle;
    }
}
