name: Node CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
            - name: Setup node
              uses: actions/setup-node@v1
              with:
                  node-version: 12.x
            - name: npm install, build, and test
              run: |
                  npm ci
                  echo REACT_APP_WEB_SOCKET_BASE_URI=wss://api.drawing.simonmeusel.de/ > .env
                  npm run build:prod
              env:
                  CI: true
            - name: deploy
              run: |
                  mkdir -p ~/.ssh
                  ssh-keyscan -trsa github.com >> ~/.ssh/known_hosts
                  git remote set-url origin git@github.com:simonmeusel/drawing.git
                  echo $GITHUB_ID_RSA_PRIVATE_KEY | base64 --decode > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  export GITHUB_ID_RSA_PRIVATE_KEY=
                  git ls-remote origin refs/heads/master | grep "^$(git rev-parse HEAD)" || exit 0
                  git checkout gh-pages
                  git reset --hard gh-pages-root
                  git rm --cached -r .
                  mv .git dist/frontend/.git
                  cd dist/frontend
                  git add .
                  git config --global user.email "ci@simonmeusel.de"
                  git config --global user.name "CI"
                  git commit -m"Automatic build"
                  git push origin gh-pages --force > /dev/null
                  shred -u ~/.ssh/id_rsa
              env:
                  GITHUB_ID_RSA_PRIVATE_KEY: ${{ secrets.GITHUB_ID_RSA_PRIVATE_KEY }}
